
/* using div instead of p tags around form elements to avoid validation error spacing prob */

div.format  {
    margin-top: 15px;
    }
    

#error_explanation {
  width: 400px;
  border: 2px solid green;
  background-color: #f0f0f0;
  margin-left: 10px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style-type: none;
}

div.field_with_errors {
  display: inline;
  margin: 0;
  padding: 0;
} 

body    {
font-family: 'Lucida Grande', sans-serif;
}

#container  {
position: absolute;
left: 50%;
width: 600px;
margin-left: -300px;
background-color: #E0FFFF;
padding: 20px;
}

#header {
text-align: center;
}

#fields  {
float: left;
}

#message    {
float: right;
}

#footer {

}

