<%= @recipient.message %>

<p>This message was originally composed on <%= @recipient.date %> and scheduled for delivery today.</p>

<p>We hope you enjoy the message! Please go to [url] if you want to know more about our delayed email services.</p>

<p>Sincerely,<br />
   Dead Letter Office 
